* {
	font-family: mono;
	background-color: #ffffff;
	color: #000000;
	margin: 0 auto;
}

.title {
	font-size: 30px;
	font-style: Italic;
	font-weight: Bold;
	max-width: 200px;
}

.quote {
	font-size: 13px;
	max-width: 200px;
}

.navbar {
	font-weight: Bold;
	border-color: #000000;
	max-width: 700px;

}

.blog {
	max-width: 100ch;
}

.info {
	max-width: 800px;
	font-size: 20px;
	font-style: Italic;
	position: center;
	bottom: 0;
}
